.main{
    display: flex;
    background-color: lightgrey;
    height: 400px;
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: flex-start; */
}
.child{
    background-color: coral;
    width: 100px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.c1{
    order: 4;
    align-self: flex-start;
    /* flex-grow: 1; */
    /* flex-basis: 40%; */
}
.c2{
    order: 3;
    align-self: center;
    /* flex-grow: 3; */
    /* flex-basis: 20%;   */
}
.c3{
    order: 2;
    align-self: flex-end;
    /* flex-grow: 3; */
    /* flex-basis: 20%; */
}
.c4{
    order: 1;
    align-self: flex-start;
    /* flex-grow: 1; */
    /* flex-basis: 40%;  */
}