.transition{
    width: 300px;
    height: 300px;
    margin: auto auto;
    background-color: aqua;
    /* transition-property: all; */
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.transition:hover{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    /* padding: 400px 400px; */
    background-color: brown;
}